<div id="project_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
		<h1 style="color: rgba(0,0,0,0.8);"><%= @project.title %></h1>
		<%= image_tag @project.projectimage_url.to_s, id:'project_image'%>
		<hr>
	</header>
	<div id="description">
		<%=markdown @project.description %>
	</div>
	
	<div class="button_wrapper">
		<a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%=@project.title %></a>
	</div>
	<%if current_user && current_user.is_admin?%>
	<div id="admin_links">
		<%= link_to "Edit Project", edit_admin_project_path(@project) %>
		<%= link_to "Delete Project", admin_project_path(@project), method: :delete, data:{confirm:"Are you sure you want to delete this project?"}%>
	</div>
	<%end%>