<!DOCTYPE html>
<html>
	<head>
		<title>Victor Allen</title>
		<!--Google Fonts-->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		<!--Font Awsome-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Victor Allen", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<a href="#">Contact</a>
		</nav>
	</header>
	<body>
		<%= yield %>
	</body>
</html>