<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="../img/logo2.png">
		<title>Victor Allen</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--JQuery.js-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!--Google Fonts-->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		<!--Font Awsome-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		
		<!--NAVBAR SCROLL-->
		<header id="main_navigation" class="clearfix">
			<%= link_to "Victor Allen", root_path, class: "name" %>
			<nav>
				<ul id="meshow" class="dropdown-content">
					<li><%= link_to "<Articles>", posts_path %></li>
					<li><%= link_to "<Projects>", projects_path %></li>
					<li><a href="#skills">&lt;Skills&gt;</a></li>
					<li><%= link_to "<Contact>", new_contact_path %></li>
					<li><%= link_to "<Referals>", referals_path %></li>
					<%if user_signed_in?%>
					<li><%= link_to "<Sign Out>", destroy_user_session_path, method: :delete%></li>
					<%else%>
					<li><%= link_to "<Sign in>", new_user_session_path%></li>
					<li><%= link_to "<Sign Up>", new_user_registration_path%></li>
					<%end%>
				</ul>
				<div onclick="myFunction()" class="handle"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Menu</div>
			</nav>
		</header>
		
		<%if notice%>
		<p class="notice"><%= notice %></p>
		<% elsif alert
		%>
		<p class="alert"><%= alert %></p>
		<%end%>
		<%= yield %>
		<footer id="main_footer">
			<p class="copyright">&copy;2017 Victor Allen</p><br>
			<p class="email"> <i class="fa fa-envelope" aria-hidden="true"></i>
 vamuigua@gmail.com</p>
			<nav>
				<a href="#"></a><b>&lt; Follow ME! &gt;</b></a>
				<a href="https://twitter.com/VictorAllen22" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/victor-muigua-33a5b3124/" target="_blank"><i class="fa fa-linkedin"></i></a>
				<a href="https://medium.com/@vamuigua" target="_blank"><i class="fa fa-medium"></i></a>
				<a href="http://github.com/vamuigua" target="_blank"><i class="fa fa-github"></i></a>
			</nav>
		</footer>
		<!--Back to Top Button-->
		<a href="#0" class="cd-top">Top</a>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	</body>
</html>